#logo.jump {
    animation: logo_startup 3s cubic-bezier(.03, -.02, .7, 1) forwards;
}

@keyframes logo_startup {
    0% {
        offset-distance: 0%;
    }
    100% {
        transform: translate(calc(-50% + 92px), calc(-50% + 55px)) rotate(45deg);
        offset-distance: 100%;
        display: none;
        opacity: 0;
    }
}

.disclaimer {
    max-width: 400px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.disclaimer i {
    font-size: xxx-large;
}

.editor-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

layout-item {
    width: 100%;
    height: 100%;
    position: relative;
    outline: 1px solid var(--surface-1);
}

layout-item:last-of-type {
    flex: 1;
}

.layout-row, .layout-column {
    display: flex;
}

.layout-row {
    flex-direction: row;
}

.layout-column {
    flex-direction: column;
}

.layout-slot {
    display: block;
    min-width: 300px;
    min-height: 0;
}

#editor-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    transition-property: transform, border-radius, opacity, box-shadow;

    background: var(--surface-0);

    transform: scale(.95);
    border-radius: 75px;
    opacity: 0;
    box-shadow: 0 20px 100px -20px #000e;
}

#editor-container.loaded {
    transform: none;
    border-radius: unset;
    opacity: 1;
    box-shadow: none;
}

#editor-header, #editor-footer {
    flex: none;
    height: 25px;
    background: var(--surface-n1);
    display: flex;
}

#layout-container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.editor-view {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-height: 0;
    min-width: 0;
}

.centered-layout, .layout-slot-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Empty slot */

.layout-slot-empty {
    flex-direction: column;
    color: var(--surface-8);
}

.layout-slot-empty i {
    font-size: xx-large;
    margin-bottom: 8px;
}

/* Editor Preview */

.editor-preview {
    display: flex;
    flex-direction: column;
    background: var(--surface-n1);
}

.preview-container {
    flex: 1;
    min-height: 0;
}

.preview-source-target {
    width: 100%;
    height: 100%;
    position: relative;
}

.preview-source-target :is(canvas, video) {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-controls {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    background: var(--surface-1);
    z-index: 25;
    align-items: center;
    padding: 6px;
}