#logo.jump {
    animation: logo_startup 3s cubic-bezier(.03, -.02, .7, 1) forwards;
}

@keyframes logo_startup {
    0% {
        offset-distance: 0%;
    }
    100% {
        transform: translate(calc(-50% + 92px), calc(-50% + 55px)) rotate(45deg);
        offset-distance: 100%;
        display: none;
        opacity: 0;
    }
}

/* Shown when screen size is too small */
.disclaimer {
    max-width: 400px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    
    i {
        font-size: xxx-large;
    }
}

.editor-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

layout-item, .layout-tabs {
    width: 100%;
    height: 100%;
    position: relative;
    outline: 1px solid var(--surface-1);
}

layout-item:last-of-type, .layout-tabs:last-of-type {
    flex: 1;
}

.layout-row, .layout-column {
    display: flex;
}

.layout-row {
    flex-direction: row;
}

.layout-column {
    flex-direction: column;
}

.layout-slot {
    display: flex;
    min-height: 0;
    flex-direction: column;
}

#editor-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    transition-property: transform, border-radius, opacity, box-shadow;

    background: var(--surface-0);

    transform: scale(.95);
    border-radius: 75px;
    opacity: 0;
    box-shadow: 0 20px 100px -20px #000e;
}

#editor-container.loaded {
    transform: none;
    border-radius: unset;
    opacity: 1;
    box-shadow: none;
}

#editor-header, #editor-footer {
    flex: none;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

#editor-header {
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid var(--surface-4);
}

#editor-footer {
    background: var(--surface-n1);

    .statusbar-left, .statusbar-right {
        display: flex;
        align-items: center;
        width: max-content;
        height: 100%;
        gap: 12px;
    }

    .statusbar-left {
        padding-left: 10px;
    }

    .statusbar-right {
        padding-right: 10px;
    }
}

#editor-header > div {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-menu-item {
    height: 100%;
    padding: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-item.disabled {
    cursor: default;
    opacity: 0.5;
}

.nav-menu-item:hover, .nav-menu-item:focus {
    background: var(--elevate);
}

#layout-container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.editor-view {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-height: 0;
    min-width: 0;
    flex: 1;
}

.centered-layout, .layout-slot-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.layout-slot-header {
    height: 25px;
    display: flex;
    align-items: center;
    background: var(--surface-n2);
    padding: 0 10px;
    justify-content: space-between;
}

.layout-slot-header > div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.layout-slot-drop-target::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1000;
    pointer-events: none;
}

.layout-slot-drop-target::after {
    content: "Drop here to Swap";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: var(--surface-2);
    border: 1px solid var(--accent);
    z-index: 1000;
    pointer-events: none;
}

.layout-slot-drag-preview {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    pointer-events: none;
    outline: 2px solid var(--accent);

    max-width: 150px;
    overflow: hidden;
    display: flex;
    gap: 8px;
}

.layout-slot-drag-preview > span {
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
    width: 100%;
    text-align: left;
}

.is-being-dragged {
    opacity: 0.5;
}

.ls-timeline-item .ls-resize-handle {
    background: var(--accent-60);
    transition: none;
    --ls-resize-anchor: 0;
}

/* Empty slot */

.layout-slot-empty {
    flex-direction: column;
    color: var(--surface-8);
}

.layout-slot-empty i {
    font-size: xx-large;
    margin-bottom: 8px;
}

/* Editor Timeline */
.editor-timeline {
    display: flex;
    flex-direction: column;
}

.editor-timeline .ls-timeline {
    flex: 1;
    min-height: 0;
    position: relative;
}

/* Editor Preview */

.editor-preview {
    display: flex;
    flex-direction: column;
    background: var(--surface-n1);
}

.preview-container {
    flex: 1;
    min-height: 0;
}

.preview-source-target {
    width: 100%;
    height: 100%;
    position: relative;
}

.preview-source-target :is(canvas, video) {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-controls {
    background: var(--surface-1);
}

.controls-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 25;
    padding: 4px 6px;
}

.controls-bar div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.editor-view, layout-item, .ls-tabs {
    min-height: 0;
    min-width: 0;
}

.control-button {
    height: 20px !important;
}

/* Property editor */

.property-editor-container, .asset-manager-content {
    overflow: auto;
    height: 100%;
}

.property-editor-header {
    margin-bottom: 12px;
}

.property-editor-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    padding-left: 18px;
    margin-bottom: 8px;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
}

.property-editor-container {
    max-width: 600px;
    padding: 0 20px;
    padding-bottom: 100px;
    margin: auto;
}

.property-editor-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
}

.ls-table-wrap {
    box-shadow: none;
}

code {
    background: var(--surface-n1);
    padding: 0px 6px;
    border-radius: var(--border-radius);
    user-select: text;
}

.example-chip {
    display: block;
    text-align: center;
    background: var(--surface-2);
    padding: 6px 0;
    border-radius: var(--border-radius-medium);
    font-size: 0.9em;
}

.property-editor-group > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-editor-container ls-box {
    margin: 12px 0;
    padding: 12px 16px;
}

ls-box ul li {
    margin-bottom: 10px;
}

.ls-modal-body {
    max-height: calc(100vh - 200px);
}

.adding-automation-target-modal {
    position: fixed;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    display: flex !important;
    align-items: center;
    gap: 12px;
    border-radius: var(--border-radius-full) !important;
    padding-left: 16px !important;
    width: 90%;
    max-width: 750px;
    justify-content: space-between;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-with-reset {
    display: flex;
    align-items: center;
    min-width: 0px;
}

.input-label-small {
    font-size: 0.8em;
    color: var(--surface-8);
    margin-right: 6px;
}

.property-editor-container input[type="number"] {
    width: 80px;
}

.editor-property-editor > .ls-tabs, .editor-property-editor > .ls-tabs > .ls-tabs-content, .ls-tab-content, .ls-tabs-content {
    width: 100%;
    height: 100%;
}

.editor-tabs {
    display: flex;
    flex-direction: column;
}

.editor-tabs .ls-tabs-list {
    display: flex;
    overflow-x: overlay;
    overflow-y: hidden;
    min-height: 35px;
    align-items: center;
    border-bottom: 1px solid var(--elevate);
}

.editor-tabs .ls-tab-handle {
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 20px;
    border-right: 1px solid var(--elevate-n1);
    border-top: 1px solid var(--elevate-n1);
    background: var(--elevate);
}

.editor-tabs .ls-tab-handle.active {
    cursor: default;
    background: var(--elevate-n1);
    padding: 7px 20px 4px;
    border-top: none;
    border-bottom: 3px solid var(--accent);
}

.aidBox {
    position: fixed;
    display: none;
    overflow: hidden;
    z-index: 5000;
}

.editAid {
    position: absolute;
    outline: 3px solid var(--accent);
    border: 2px solid #000a;
    z-index: 5000;
    pointer-events: none;
    --ls-resize-anchor: 1;
    top: 0;
    left: 0;
}

.editAid .ls-resize-handle {
    pointer-events: all;
}

.editAid:after, .editAid:before {
    content: "";
    position: absolute;
    border: 1px dashed #fffa;
    z-index: -1;
}

.editAid:before {
    left: -100vw;
    right: -100vw;
    bottom: -4px;
    top: -4px;
}

.editAid::after {
    top: -100vh;
    bottom: -100vh;
    left: -4px;
    left: -4px;
    left: -4px;
    right: -4px;
}

/* Asset manager */

.editor-asset-manager {
    display: flex;
    height: 100%;
}

.asset-manager-sidebar {
    width: 40px;
    min-width: 40px;
    border-right: 1px solid var(--surface-2);
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.asset-manager-sidebar > div {
    height: 40px;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.asset-manager-sidebar > div:hover {
    background: var(--elevate);
}

.asset-manager-sidebar > div.selected {
    background: var(--elevate);
}

.asset-manager-content {
    flex: 1;
    min-width: 200px;
}

.file-browser-header > div {
    display: flex;
    gap: 4px
}

.file-browser-header button {
    --padding-control-h: 8px;
    --padding-control-v: 4px;
}

/* File Browser */
.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.file-browser, .file-browser-content, .file-browser-content .ls-tree {
    height: 100%;
}

.file-browser, .file-browser-content {
    overflow: hidden;
}

.file-browser-content {
    background: var(--surface-n1);
}

.file-browser-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 6px 8px;
}

.file-browser {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.file-browser .ls-tree-node[ls-accent] {
    color: var(--accent-60);
}

.file-browser .ls-tree-node {
    padding-left: 4px !important;
}

[ls-theme="light"] .file-browser .ls-tree-node[ls-accent] {
    color: var(--accent-30);
}

pre.log-message {
    background: var(--elevate-n1);
    padding: 4px 8px;
    user-select: text;
    border-radius: var(--border-radius);
}

.editor-tip {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}

.editor-tip button {
    flex-shrink: 0;
}