[ls-theme=depths] {
    --background: #211313;
    --background-tr: rgb(21 12 12 / 67%);
    --color: #ffa5a5;
    --ui: #322121;
    --ui-bg-0: #110909;
    --ui-bg-1: #150c0c;
    --ui-border: #0c0c0c;
    --ui-overlay: #380d0da3;
    --elevate-0: #311a1a;
    --elevate-0: #431616;
    --elevate-0: #340f0f;
    --elevate-1: #621818;
    --elevate-2: #761212;
    --elevate-3: #8d2c2c;
    --elevate-4: #f11;
    --elevate-5: #f44;
}