.ls-timeline {
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.ls-timeline-pointer {
    position: absolute;
    top: 0;
    bottom: 0;
    outline: 1px solid var(--accent);
    z-index: 10;
}

.ls-timeline-pointer::after {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid var(--accent);
    height: 0;
    width: 0;
    position: absolute;
    transform: translateX(-50%);
}

.ls-timeline-row {
    display: block;
    min-height: 45px;
    position: relative;
    background: var(--background);
}

.ls-timeline-row:nth-child(odd) {
    background: var(--elevate);
}

.ls-timeline-item {
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    overflow: hidden;
    min-width: 5px;
    cursor: pointer
}

.ls-timeline-item {
    margin: 5px 0;
    background: var(--accent);
    color: var(--color-bg,var(--color))
}

.ls-timeline-item.selected {
    background: var(--accent);
    box-shadow: 4px 4px 0 0 #000;
    outline: 2px solid black;
    filter: brightness(1.2);
    cursor: default
}

.ls-timeline-item span {
    padding: 0 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ls-timeline-item.ls-held {
    opacity: .8
}

.ls-timeline-scroll-container {
    overflow: auto;
    height: 100%;
}

.ls-timeline-rows {
    position: sticky;
    left: 0;
    right: 0;
}

.ls-timeline-markers {
    display: flex;
    justify-content: space-between;
    height: 25px;
    min-height: 25px;
    max-height: 35px;
}


/* 
ls-timeline-container {
    width: 100%;
    height: 100%;
    display: block;
    overflow: overlay;
    z-index: 5;
    background: var(--ui-bg-0);
}

ls-timeline-markers>div {
    display: block;
    min-width: var(--column-width, 10px);
    max-width: var(--column-width, 10px);
    width: var(--column-width, 10px);
    text-align: center;
    transform: translateX(-50%);
    font-size: small;
    border-bottom: 1px solid var(--accent-transparent);
}

ls-timeline-markers>div::before,
ls-timeline-markers>div::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

ls-timeline-markers>div::after {
    border: 1px solid var(--accent-transparent);
    top: calc(1em + 8px);
    left: 100%;
}

ls-timeline-markers>div::before {
    border: 1px solid var(--accent);
    top: calc(1em + 7px);
    left: 50%;
}

ls-timeline-row-label {
    display: block;
    width: var(--ls-timeline-label-width);
    background: var(--elevate-2);
    border-bottom: 1px solid var(--transparent-overlay-dark);
    height: 20px;
}

ls-timeline-label-container {
    position: absolute;
    width: var(--ls-timeline-label-width);
    bottom: 0;
    top: 25px;
    z-index: 40;
    background: var(--ui);
    box-shadow: -7px 20px 13px 0 #000 !important;
    border-right: 1px solid var(--ui-border) !important;
}

ls-timeline-area {
    margin-left: var(--ls-timeline-label-width);
    padding-right: var(--ls-timeline-label-width);
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
} */