#windowContainer {
    position: fixed;
    z-index: 930000000005;
    inset: 0;
    pointer-events: none;
}

.window-handle {
    background: var(--ui);
    filter: brightness(.6);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 15px;
    align-items: center;
}

.focused .window-handle {
    filter: unset;
}

.window-handle button {
    font-size: .6em;
    margin: 0;
    -webkit-text-stroke-width: 1px;
}

.window-container {
    position: absolute;
    overflow: visible;

    pointer-events: auto;
}

.window {
    /* Pretty: */
    border-radius: var(--br-lg);

    /* Practical: */
    /* border-radius: var(--br-lg) var(--br-lg) 0 0; */

    overflow: hidden;
    outline: 1px solid var(--transparent-overlay-strong);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.13);
    background: var(--ui-bg-1);
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.focused .window {
    box-shadow: 0 10px 35px 4px rgb(0 0 0 / 30%);
}

.maximized .window {
    border-radius: 0;
}

.maximized .window-buttons .bi-square::before {
    content: "\F149" !important;
}

.window.acrylic {
    background: var(--background-tr);
    backdrop-filter: blur(40px);
}

iframe {
    border: none;
}

.window-buttons {
    display: flex;
    gap: 6px;
}

.draggableWidget {
    --widget-radius: 20px;

    position: absolute;
    background: var(--ui);
    border-radius: var(--widget-radius);
    outline: 3px solid var(--transparent-overlay-dark);
    transition: transform .15s;
    min-width: 100px;
    min-height: 100px;
}

.draggableWidgetContentContainer {
    overflow: hidden;
    border-radius: var(--widget-radius);
    position: absolute;
    inset: 0;
}

.draggableWidgetHandle {
    height: 20px;
    background: var(--ui-bg-1);
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    transform: translateY(-50%);
    outline: 1px solid var(--elevate-0);
    border-radius: 20px;
    opacity: .2;
    transition: .4s;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.draggableWidgetHandle i {
    pointer-events: none;
}

.draggableWidgetContent {
    position: absolute;
    inset: 0;
}

.frame .draggableWidgetContent {
    padding: 10px 20px;
    background: var(--ui-bg-1);
    border-radius: 12px;
    inset: 12px;
}

.draggableWidget:hover .draggableWidgetHandle {
    opacity: 1;
}

.draggableWidget.is-dragging {
    cursor: grabbing;
    opacity: .8;
    outline: 2px solid var(--elevate-2);
}

.window-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.window-content iframe {
    width: 100%;
    height: 100%;
}

.window-container .ls-resize-bar {
    opacity: 0;
}

.window-container .ls-resize-bar-top {
    transform: translateY(-50%);
}

.window-container .ls-resize-bar-bottom {
    transform: translateY(50%);
}

.window-container .ls-resize-bar-left {
    transform: translateX(-50%);
}

.window-container .ls-resize-bar-right {
    transform: translateX(50%);
}